<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/shopping.js"></script>
        <link rel="stylesheet" type="text/css" href="CSS/style.css"/>
    </head>
    <body ng-controller="CustomerController as custCtrl">
        <div ng-include="'menu.html'" ></div>
        <h1>Sign In</h1>
        <p>{{custCtrl.signInMessage}}</p>
        <form ng-submit="custCtrl.signIn(username,password)">
            <fieldset>
                <legend>Account Details</legend>
                <label for="username">User Name:</label>
                <input type="text" ng-model="username" required>
                <label for="password">Password:</label>
                <input type="password" ng-model="password" required><br>
                <button type="submit">Sign In</button>
            </fieldset>
        </form>
        <p>If you don't have an account then you can <a href="create_account.html">create one</a></p>
    </body>
</html>
